<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="netlib.Dns" publicKeyToken="924c5b18328d6f09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5859.29820" newVersion="1.1.5859.29820" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>